<form [formGroup]="createNewUserForm" (ngSubmit)="onCreateNewUserFormSubmitted(createNewUserForm)">
    <div>
        <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput type="text" placeholder="Name" formControlName="name" required>
            <mat-error *ngIf="createNewUserForm.get('name')!.invalid">name is invalid</mat-error>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="fill">
            <mat-label>Last Name</mat-label>
            <input matInput type="text" placeholder="Last Name" formControlName="lastName" required>
            <mat-error *ngIf="createNewUserForm.get('lastName')!.invalid">lastName is invalid</mat-error>
        </mat-form-field>
    </div>
    <div>
    <mat-label>Gender</mat-label>      
        <mat-radio-group formControlName="gender">
            <mat-radio-button *ngFor="let item of gender$ | async" [value]="item">{{item}}</mat-radio-button>
            <mat-error *ngIf="createNewUserForm.get('gender')!.invalid">Gender is invalid</mat-error>
        </mat-radio-group>
    </div>

    <div>
        <button type="submit" mat-raised-button color="primary">Submit</button>
    </div>
</form>