<h1>Categories list</h1><section>
  <ng-container *ngIf="categories$ | async as categories; else loading">
  <ng-container *ngIf="categories.length > 0 ; else emptyState">
    <mat-checkbox *ngFor="let item of categories$ | async">
      {{item}}
    </mat-checkbox>
  </ng-container>
    
  </ng-container>
 
</section>



      <ng-template #emptyState>
      <div style="text-align: center"><img style="height: 500px" src="assets/no-data.jpg"></div>
      <div style="text-align: center"><a
        href="https://www.freepik.com/free-vector/no-data-concept-illustration_5928292.htm#query=no%20data%20found&position=0&from_view=keyword">Image
        by storyset</a> on Freepik
      </div>
    </ng-template>


<ng-template #loading>
  <mat-progress-spinner
        [color]="'primary'"
        [mode]="'indeterminate'"
        [value]="50">
      </mat-progress-spinner>

</ng-template>